:root {
  --clr-yellow-500: hsl(47, 88%, 63%);
  --clr-white-200: hsl(0, 0%, 100%);
  --clr-grey-500: hsl(0, 0%, 42%);
  --clr-grey-900: hsl(0, 0%, 7%);
}


body {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  background-color: var(--clr-yellow-500);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 0.85rem;
  color: var(--clr-grey-900);
}


/* -------------TYPOGRAPHY-----------------------  */

a {
  text-decoration: none;
  color: var(--clr-grey-900);
}



.card__link {
  transition: 0.2s color ease-in;

}

.card__link:hover,
.card__author:hover,
.card__link:focus,
.card__author :focus {
  color: var(--clr-yellow-500);
}


.card__title {
  font-size: 1.5rem;
}

.card__body {
  color: var(--clr-grey-500);
  line-height: 1.5;
}



.card__btn {
  background-color: var(--clr-yellow-500);
  display: inline-block;
  padding: 0.5em 0.8em;
  font-weight: 900;
  border-radius: 0.2em;
  transition: 0.2s background-color ease-in, 0.2s outline ease-in;
}

.card__btn:hover,
.card__btn:focus {
  background-color: var(--clr-white-200);
  outline: 1px solid var(--clr-grey-900);
}

.card__author {
  font-weight: 900;
  transition: 0.2s color ease-in;
}


/* --------------IMAGES----------------   */


.card__pattern {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5em;
}


.card__avatar {
  width: 40px;
  object-fit: cover;
}


/* ---------------LAYOUT------------------  */

.card {
  border-radius: 1em;
  border: 1px solid var(--clr-grey-900);
  background-color: var(--clr-white-200);
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1.3em;
  box-shadow: 5px 5px 0px rgb(0, 0, 0, 5);
  display: flex;
  flex-direction: column;
}


.card__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}


.card__main {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
  margin-top: 1em;
}


.card__footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5em;
}


@media (width > 1000px) {
  body {
    font-size: 1rem;
  }

  .card {
    width: 450px;
  }
}